*{
    margin: 0px;
    padding: 0px;
}
.nav-manu ul{
    text-decoration: none;
    float: right;
    display: inline ;
    background-color: #0B2239;
    width: 100%; 
}
.nav-manu ul li{
    text-decoration: none;
    float: right;
    display: inline ;
    padding: 20px;
    
}
.nav-manu ul li a{
    text-decoration: none;
    float: right;
    font-size: 30px; 
    letter-spacing: 2px;
    color: white;
}
.nav-manu ul li a:hover{
    background-color: #4AD295;
}
.nav-manu h1{
    color: red;
    padding: 2px 2px;
}
.nav-manu h1 span{
    color: green;
}
.body{
    background-image: url("home_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.from{
    width: 300px;
    height: 200px;
    border: 2px solid red;
    margin: ;

    background-color: #880000;
    float: left;
}
.from label{
    padding: 10px;
}